includes:
    - phpstan-baseline.neon

parameters:
    level: 7

    paths:
        - config
        - src
        - tests

    scanDirectories:
        - stubs

    excludePaths:
        - */Source/*
        - *Source/*

    reportUnmatchedIgnoredErrors: false
